/*
bg:         rgba(34, 34, 34, 1)
beige:      rgba(230,219,116,1)
red:        rgba(249,38,114,1)
blue:       rgba(102,217,239,1)
off-white:  rgba(214,202,188,1)

*/

* {
    /*color: #666666; */ /* grey */
    color: #FFFFFF;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Archivo Black', sans-serif;
    box-sizing: border-box;
}

html,body {
    background: #000000;
    height: 100%;
    margin: 0;
}

.section {
    background-repeat: no-repeat;
    background-size: 45%;
    height: 100vh;
}

#about {
    background-image: url('img/header.png');
}

/*body {
    /*background-image: url("img/header.png");
    background-repeat: no-repeat;
    background-position: left top;
    /*background-attachment: fixed;
}*/

.maincol {
    /*background: #FFFFFF;*/
    width: 768px;
    margin: 0 auto;
    /*height: 2000px;*/
    padding: 15% 10px 0;
}

.maincol-content {
    /*margin-top: 31%;*/
    /*background: #000000;*/
}

#sitetitle {
    font-size: 100px;
    margin-bottom: 25px;
    /*font-style: italic;*/
    text-decoration: none;
    text-align: right;
}

.project {
    background-color: red;
}

.sectionheader {
    font-family: 'Carme', sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    /*text-decoration: underline;*/
}

.sectioncontent {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

#sidebar {
    float: left;
    width: 400px;
}

.header_list {
    font-weight: bold;
    font-color: #000;
    font-size: 24px;
}

.header_list header {
    margin-bottom: 5px;
}

.header_list a:hover {
    color: #AAA
}